.App {
  text-align: left;
}

.post-list {
  margin-left: 1px;
  list-style-type: none;
}

.comment-list{
  list-style-type: none;
}

.comment {
  list-style-type: none;
  padding-bottom: 10px;
}

.App-logo {
  height: 80px;
  float: left;
}

a{
  text-decoration: none;
}

.categories{
  float: left;
  padding: 5px;
}

.sort-order{
  padding: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.post-title{
  font-size: 1.4em;
  padding: 5px;
}

.post-votes{
  padding: 5px;
}

.post-body{
  padding: 5px;
}

.post-comments{
  padding: 5px;
}

.vote-buttons{
  padding: 5px;
}

.logo{
  height: 150px;
  float: left;
}

.btn-add-post {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  width: 10%;
  text-align: center;
  font-size: 18px;
  background: #3498db;
  margin-left: 75px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-categories {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: #3498db;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-categories:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btn-votes {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #3498db;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-votes:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btn-delete-post{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 12px;
  background: #3498db;
  padding: 9px 10px 9px 10px;
  text-decoration: none;
  margin-top: 1px;
}

.btn-delete-post:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btn-comment-add {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: #3498db;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-comment-add:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btn-comment-cancel {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: #3498db;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn-comment-cancel:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.comment-input {
  width: 90%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}
/*
  Lifted from https://www.sanwebe.com/2014/08/css-html-forms-designs
*/

.form-style-1 {
    margin:10px auto;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    width: 50%;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 50%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
